.jumbotron_Content {
	height: 400px;
	background-image: url('../../Style/images/banner/gate.gif');
	background-size: 100%;
	position: cover;
}

.banner_Main{
	margin-top:70px;
}

.container_Banner { /* Banner 글씨 위치 조정 */
	position: absolute;
	top: 60%;
	left: 30%;
	transform: translate(-50%, -50%);
}

.container_Banner_Main { /* Banner_Main 글씨 위치 조정 */
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);
	color: white
}

.container_Banner_Content { /* Banner 글씨 위치 조정 */
	position: absolute;
	top: 25%;
	left: 30%;
	transform: translate(-50%, -50%);
}

ul li {
	list-style: none;
	padding-right: 10px;
	float: left;
}

i {
	margin-right: 5px;
}

#Main_title {
   display: inline-block;
}

body{
	padding-top : 70px;
	padding-bpttom : 150px;	
}