@charset "UTF-8";
/* 사이드바 설정 */
aside {
    width: 15%;
    height: 80%;
    position: fixed;
    background-color: rgb(14,30,43);
    overflow: auto;
}
/* 사이드바 overflow 시 스크롤바 안보이게 하기 */
aside::-webkit-scrollbar { 
    display: none; 
}
/* 메인 페이지 프레임 구간 설정 */
.mainContent {
	margin:20px 20px 10px 17%;
}

/* 로그아웃 버튼 */
 .logout{
      text-decoration: none;
      
      color: white;
      background-color: teal;
      padding:10px 20px 10px 20px;
      margin:20px;
      display:inline-block;
      border-radius: 10px;
      transition:all 0.1s;
      text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
    }
    .logout:active{
      transform: translateY(3px);
    }
    
/* 테이블 제목 구간 가운데 정렬 */
th {
	text-align: center;
	background-color: #e1f1fd;
}